.orgSection{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.title{
    font-size: 40px;
    font-weight: 400;
    color: #6278F6;
    padding-bottom: 24px ;
    border-bottom: 4px #6278F6;
}

.orgSection img{
    position: absolute;
    right: 30%;
    cursor: pointer;
    
}